<% connect_form ||= false %>
<div class="uk-card uk-card-default uk-padding-small">
  <h2 class="uk-card-title">
    <%= user[:google][:info][:email] %>
  </h2>

  <div class="uk-card-body uk-padding-remove">
    <h3 class="uk-margin-remove">
      <span uk-icon="icon: google"></span>
      <img class="uk-border-pill" width="30" src="<%= user[:google][:info][:image] %>">
      <%= user[:google][:info][:name] %>
    </h3>
    <p class="uk-margin-remove">
      <%= user[:google][:info][:email] %>
    </p>
  </div>

  <% if user[:github] %>
    <hr class="uk-margin-small">

    <div class="uk-card-body uk-padding-remove">
      <h3 class="uk-margin-remove">
        <span uk-icon="icon: github"></span>
        <img class="uk-border-pill" width="30" src="<%= user[:github][:info][:image] %>">
        <%= user[:github][:info][:nickname] %>
      </h3>
      <p class="uk-margin-remove">
        <%= user[:github][:info][:email] %>
      </p>
      <p class="uk-margin-remove">
        <%= link_url_tag "https://github.com/" + user[:github][:info][:nickname] %>
      </p>
    </div>
  <% elsif connect_form && GITHUB_ENABLED %>
    <hr class="uk-margin-small">

    <div class="uk-card-body uk-padding-remove">
      <form action="/auth/github" method="post">
        <%= authenticity_token_tag %>
        <span uk-icon="icon: github"></span>
        <input class="uk-button uk-button-default uk-border-rounded" type="submit" value="Connect to GitHub">
      </form>
    </div>
  <% end %>

  <% if user[:slack] %>
    <hr class="uk-margin-small">

    <div class="uk-card-body uk-padding-remove">
      <h3 class="uk-margin-remove">
        <span uk-icon="icon: comments"></span>
        <img class="uk-border-pill" width="30" src="<%= user[:slack][:info][:image] %>">
        <%= user[:slack][:info][:name] %>
      </h3>
      <p class="uk-margin-remove">
        <%= user[:slack][:info][:email] %>
      </p>
      <p class="uk-margin-remove">
        <%= link_url_tag "https://#{SLACK_TEAM_NAME}.slack.com/team/" + user[:slack][:uid] %>
      </p>
    </div>
  <% elsif connect_form && SLACK_ENABLED %>
    <hr class="uk-margin-small">

    <div class="uk-card-body uk-padding-remove">
      <form action="/auth/slack" method="post">
        <%= authenticity_token_tag %>
        <span uk-icon="icon: comments"></span>
        <input class="uk-button uk-button-default uk-border-rounded" type="submit" value="Connect to Slack">
      </form>
    </div>
  <% end %>

  <% if user[:esa] %>
    <hr class="uk-margin-small">

    <div class="uk-card-body uk-padding-remove">
      <h3 class="uk-margin-remove">
        <span uk-icon="icon: file-edit"></span>
        <img class="uk-border-pill" width="30" src="<%= user[:esa][:info][:image] %>">
        <%= user[:esa][:info][:nickname] %>
      </h3>
      <p class="uk-margin-remove">
        <%= user[:esa][:info][:email] %>
      </p>
      <p class="uk-margin-remove">
        <%= link_url_tag "https://#{ESA_TEAM_NAME}.esa.io/members/" + user[:esa][:info][:nickname] %>
      </p>
    </div>
  <% elsif connect_form && ESA_ENABLED %>
    <hr class="uk-margin-small">

    <div class="uk-card-body uk-padding-remove">
      <form action="/auth/esa" method="post">
        <%= authenticity_token_tag %>
        <span uk-icon="icon: file-edit"></span>
        <input class="uk-button uk-button-default uk-border-rounded" type="submit" value="Connect to esa">
      </form>
    </div>
  <% end %>

  <% if @debug %>
    <hr class="uk-margin-small">

    <div class="uk-card-body uk-padding-remove">
      <pre><%= h user[:google].pretty_inspect %></pre>
      <pre><%= user[:github] && (h user[:google].pretty_inspect) %></pre>
      <pre><%= user[:slack] && (h user[:slack].pretty_inspect) %></pre>
      <pre><%= user[:esa] && (h user[:esa].pretty_inspect) %></pre>
    </div>
  <% end %>
</div>
