<h1 class="ui header">
  <%= current_user[:google][:info][:email] %>
</h1>

<div class="ui doubling cards">
  <div class="ui card">
    <div class="extra content">Google</div>
    <div class="content">
      <img class="floated right mini ui image" src="<%= current_user[:google][:info][:image] %>">
      <div class="header">
        <%= current_user[:google][:info][:name] %>
      </div>
      <div class="meta">
        <%= current_user[:google][:info][:email] %>
      </div>
    </div>
    <% if @debug %>
      <div class="content">
        <pre><%= h current_user[:google].pretty_inspect %></pre>
      </div>
    <% end %>
  </div>

  <% if GITHUB_ENABLED %>
    <div class="ui card">
      <div class="extra content">GitHub</div>
      <div class="content">
        <% if current_user[:github] %>
          <img class="floated right mini ui image" src="<%= current_user[:github][:info][:image] %>">
          <div class="header">
            <%= current_user[:github][:info][:nickname] %>
          </div>
          <div class="meta">
            <%= current_user[:github][:info][:email] %>
          </div>
          <div class="extra content">
            <% github_url = "https://github.com/#{ current_user[:github][:info][:nickname] }" %>
            <a href="<%= github_url %>"><%= h github_url %></a>
          </div>
        <% else %>
          <form action="/auth/github" method="post">
            <%= authenticity_token_tag %>
            <input class="ui button" type="submit" value="Connect to GitHub">
          </form>
        <% end %>
      </div>
      <% if @debug %>
        <div class="content">
          <pre><%= h current_user[:github].pretty_inspect %></pre>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if SLACK_ENABLED %>
    <div class="ui card">
      <div class="extra content">Slack</div>
      <div class="content">
        <% if current_user[:slack] %>
          <img class="floated right mini ui image" src="<%= current_user[:slack][:info][:image] %>">
          <div class="header">
            <%= current_user[:slack][:info][:name] %>
          </div>
          <div class="meta">
            <%= current_user[:slack][:info][:email] %>
          </div>
        <% else %>
          <form action="/auth/slack" method="post">
            <%= authenticity_token_tag %>
            <input class="ui button" type="submit" value="Connect to Slack">
          </form>
        <% end %>
      </div>
      <% if @debug %>
        <div class="content">
          <pre><%= h current_user[:slack].pretty_inspect %></pre>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if ESA_ENABLED %>
    <div class="ui card">
      <div class="extra content">esa</div>
      <div class="content">
        <% if current_user[:esa] %>
          <img class="floated right mini ui image" src="<%= current_user[:esa][:info][:image] %>">
          <div class="header">
            <%= current_user[:esa][:info][:nickname] %>
          </div>
          <div class="meta">
            <%= current_user[:esa][:info][:email] %>
          </div>
        <% else %>
          <form action="/auth/esa" method="post">
            <%= authenticity_token_tag %>
            <input class="ui button" type="submit" value="Connect to esa">
          </form>
        <% end %>
      </div>
      <% if @debug %>
        <div class="content">
          <pre><%= h current_user[:esa].pretty_inspect %></pre>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
